/*
    FOR TESTING PURPOSE
    TODO: DELETE AFTER TEST
*/
body {
    margin: 0;
}

.content {
    height: 700px;
    background: gray;
}

.some_content_0 {
    height: 50px;
}

/*
    NEEDED CODE FOR ANIMATION
*/
.base {
    height: 500vh;
    background: slategray;
}

.animation__wrapper {
    max-width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.animation {
    position: relative;
    display: flex;
    overflow: visible;
    width: 100vw;
    height: 100vh;
    /*justify-content: center;*/
    align-items: center;
    background-color: transparent;
    transform: rotateX(49deg) rotateY(0deg) rotateZ(39deg);
    transform-style: preserve-3d;
}

.section {
    position: absolute;
    display: flex;
    transition: 2s; /* CHANGE SECTION TRANSITION HERE */
}

.block {
    transition: 4s; /* FOR SMOOTHLY BLOCK OPACITY */
}

.block__row {
    display: flex;
    align-items: flex-start;
}

.row-first {
    align-items: flex-end;
}

.picture__container {
    position: relative;
    width: 20vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    flex: 0 auto;
}

.picture {
    height: 150px;

    position: relative;
    z-index: 900;
    display: block;
    flex: 1;
    box-shadow: none;
    transition: 2s; /* CHANGE PICTURE TRANSITION HERE */

    transform-style: preserve-3d;
    will-change: transform;
}

.shadow {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    transform-origin: 50% 100%;
    transition: 5s; /* CHANGE SHADOW TRANSITION HERE */

    will-change: opacity, trasform;
}

.shadow-bold {
    border-radius: 0;
    background-color: black;
    box-shadow: none;
}

.default_transform {
}

.default_transform-image {
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.default_transform-shadow {
    opacity: 0.6;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
